@tailwind base;
@tailwind components;
@tailwind utilities;

.prepListItem li::marker {
  color: hsl(332, 51%, 32%);
}
.prepListItem2 li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 1.2rem;
  font-weight: bold;
}
